.feed {
  flex: 0.7;
  overflow-y: scroll;
  scrollbar-color: #770e77;
  scrollbar-width: 3px;
  margin-top: 3rem;
  width: 100%;
}

.feed::-webkit-scrollbar {
  width: 3px;
}

.feed::-webkit-scrollbar-track {
  background: white;
}

.feed::-webkit-scrollbar-thumb {
  background: #770e77;
}