.singlePost {
  position: relative;
  display: flex;
  margin: 0 1.2rem;
  margin-bottom: 0.7rem;
  background: var(--primary-background);
  padding: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
}

