.registration__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: fit-content;
  width: 80%;
  background-color: #baeaee;
  border-radius: 5px;
}

.registration__form > h2 {
  padding: 0.4rem;
  color: #2d525d;
  border: 2px solid #fff;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.registration__form input[type="file"] {
  display: none;
}

.registration__form label {
  display: flex;
  background-color: #76c563;
  padding: 0.3rem;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
}
