.modal {
  z-index: 500;
  flex: 0.7;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  transform: translateY(40%);
}
