.textBox {
  height: 100px;
  width: 50%;
  max-width: 400px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-background);
  padding: 1rem;
  outline: none;
  resize: none;
}

.textBox.valid {
  border: 1px solid #2fb32f;
}

.textBox.invalid {
  border: 1px solid #ac3c3c;
}

@media (max-width: 600px) {
  .textBox {
    padding: 0.4rem 1rem;
    width: 90%;
    height: 300px;
  }
}
