.inputFeild {
  display: block;
  width: 50%;
  font-size: 1.2rem;
  max-width: 400px;
  padding: 1rem;
  background-color: var(--primary-background);
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

.inputFeild.invalid{
  border: 1px solid #ac3c3c;
}

.inputFeild.valid{
  border: 1px solid #2fb32f;
}

@media (max-width: 600px) {
  .inputFeild {
    height: 30px;
    padding: 0.4rem 1rem;
    width: 90%;
  }
}
